<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FredBrain.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <FredBrain.Properties.Settings>
            <setting name="Lok1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lok2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lok3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lok4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Zoom" serializeAs="String">
                <value>1</value>
            </setting>
        </FredBrain.Properties.Settings>
    </userSettings>
</configuration>
